body {
	font: 300 14px/23px segoe UI;
	color: #5f6d8a;
	background-color: #fff;
}
.wrapper, .footer-content, .header-content{
	width: 980px;
	display: block;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}

a {
	text-decoration: none;
	color: #5f6d8a;
	cursor: pointer;
}

.footer-menu {
	background-color: #f4f4f4;
	padding-bottom: 26px;
}

.footer-menu__column {
    width: 240px;
    display: inline-block;
    vertical-align: top;
}

.footer-menu__column_first {
	margin-left: 20px;
}

.footer-menu__header {
	color: #232424;
	font-weight: 600;
}

.footer-menu__deals, .footer-menu__clients {
	margin-bottom: 10px;
}

.letter-form__message {
	resize: none;
}

.footer-menu__hr {
	margin-bottom: 29px;
}

input, select, textarea {
	font: 13px/23px segoe UI;
}

.letter-form__email {
	width: 207px;
	height: 27px;
	padding-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.letter-form__whom {
	width: 220px;
	height: 30px;
	padding-left: 8px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.letter-form__message {
	width: 207px;
	height: 100px;
	padding-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}

input::-moz-placeholder {
	color: #a9a9a9
}

input::-webkit-input-placeholder {
	color: #a9a9a9
}

textarea::-moz-placeholder {
	color: #a9a9a9
}

textarea::-webkit-textarea-placeholder {
	color: #a9a9a9
}

.letter-form__submit {
	border: medium none;
	height: 27px;
	background-color: #e2562f;
	font-weight: 600;
	color: #FFF;
	cursor: pointer;
	width: 217px;
	box-shadow:
	1px 0px #ffa48b, 1px 1px #ae301b,
	2px 1px #ffa48b, 2px 2px #ae301b,
	3px 2px #ffa48b, 3px 3px #ae301b;
}


.footer-inform {
	height: 70px;
	position: relative;
}

.footer-inform__copyright {
	position: absolute;
	left: 20px;
	top: 23px;
	font-size: 13px;
	color: #b2b2b2;
}

.footer-inform__counter {
	position: absolute;
	left: 192px;
	top: 23px;
}

.footer-inform__social-networks {
	position: absolute;
	left: 740px; 
	top: 21px;
}

.footer-social-networks__facebook {
	margin-right: 19px; 
}

.footer-social-networks__vk {
	margin-right: 12px; 
}

.footer-social-networks__twitter {
	margin-right: 13px;
}

.header-content {
	height: 200px;
}

 .header-inform {
 	height: 50px;
 	//box-shadow: 0px 6px 16px -18px rgba(0, 0, 0, 0.8);
 	overflow: hidden;
	position: relative;
}

.header-languages {
 	margin-left: 20px;
 	line-height: 50px;
 	font-size: 12px;
 	width: 180px;
 	display: inline-block;
}

.header-languages > a {
	color: #949494;
	width: 180px;
}

.header-search {
	position: absolute;
	left: 200px;
	top: 10px;
	width: 281px;
	height: 30px;
	border: 1px solid #aeaeae;
}

.header-search:hover {
	border: 1px solid #7eb4ea;
}

.search-form__text {
    border: none;
    outline: none;
    -webkit-appearance: none;
    width: 241px;
    vertical-align: middle;
    padding-left: 10px;
    height: 28px;
	position: absolute;
}

.search-form__submit {
    width: 30px;
    height: 30px;
    border: none;
    background: url(images/search.png) no-repeat 50% 50%;
    cursor: pointer;
    position: absolute;
	left: 251px; 
}

.header-description {
	color: #00955f;
	font-weight: 500;
	text-align: center; 
	line-height: 16px;
	width: 230px;
	margin-left: 362px;
    display: -moz-inline-box;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    //display:inline;
}
.helper {
    display: -moz-inline-box;
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 0px;
    zoom: 1;
    //display: inline;
}

.header-phone {
	position: absolute;
	right: 20px;
	top: 0px;
	line-height: 50px;
}

.header-phone > a {
	color: black;
	font-size: 16px;
	border-bottom: 1px dashed #2d5dad;
}

.header-phone__icon {
	vertical-align: middle;
}

.header-inform-shadow {
	vertical-align: top;
}

.header-menu {
	position: absolute;
	top: 112px;
}

.header-menu > li {
	float: left;
	position: relative;
}

.header-menu__header {
	display: block;
	color: #0d44a0;
	padding: 0 10px;
	font-size: 16px;
	line-height: 28px;
	margin-left: 2px;
}

.header-menu__header_first {
	margin-left: 10px;
}

.header-menu > li:hover > .header-menu__header {
	color: #fff;
	background-color: #00955f;
	box-shadow:
	1px 0px #00c67e, 1px 1px #007047,
	2px 1px #00c67e, 2px 2px #007047,
	3px 2px #00c67e, 3px 3px #007047,
	4px 3px #00c67e, 4px 4px #007047;
	margin-left: -2px;
	margin-right: 4px;
}

.header-menu > li:hover > .header-menu__header_first {
	margin-left: 6px;
	margin-right: 4px;
}

.header-menu__submenu {
	display: none;
	position: absolute;
	top: 28px;
	width: 451px;
}

.header-menu__plant > .header-menu__submenu {
	left: -173px;
}

.header-menu__feedback > .header-menu__submenu {
	left: -89px;
}

.header-submenu__item {
	display: block;
	font-size: 14px;
	line-height: 27px;
	color: #fff;
	padding: 0 6px;
	background-color: #00955f;
	box-shadow:
	1px 0px #00c67e, 1px 1px #007047,
	2px 1px #00c67e, 2px 2px #007047,
	3px 2px #00c67e, 3px 3px #007047,
	4px 3px #00c67e, 4px 4px #007047;
}

.header-submenu__item_first {
	padding-left: 10px;
}

.header-submenu__item_last {
	padding-right: 10px;
}

.header-menu__submenu > li {
	float: left;
	position: relative;
}

.header-submenu__item:hover {
	background-color: #e24d30;
	box-shadow: 
	1px 0px #00955f, 1px 1px #ae301b,
	2px 1px #00955f, 2px 2px #ae301b,
	3px 2px #00955f, 3px 3px #ae301b,
	4px 3px #00955f, 4px 4px #ae301b;
}

.header-submenu__item_last:hover {
	box-shadow: 
	1px 0px #ffa48b, 1px 1px #ae301b,
	2px 1px #ffa48b, 2px 2px #ae301b,
	3px 2px #ffa48b, 3px 3px #ae301b,
	4px 3px #ffa48b, 4px 4px #ae301b;
}

.header-menu__plant:hover > .header-menu__submenu, .header-menu__feedback:hover > .header-menu__submenu {
	display: block;
}

.header-inform-logo {
	position: absolute;
	top: 68px;
	right: 243px;
}
