/*
CSS Name: Default Styles
Description: NextGEN Default Gallery Stylesheet
Author: Photocrati Media
Version: 2.12

This stylesheet is provided to allow users the ability of overriding the default styles for all display types
*/

.ngg-gallery-thumbnail img {
	background-color: #fff;
	border: none;
	display: block;
	margin: 0px 5px 0px 0px;
	padding: 0px;
	position:relative;
}

.ngg-gallery-thumbnail img:hover {
    background-color: #fff;
}

.ngg-galleryoverview {
	margin-left: 20px;
	margin-bottom: 10px;
	position: relative;
	overflow: hidden;
}

.ngg-navigation {
	height: 30px;
	width: 400px;
	position: absolute;
	right: 20px;
	bottom: 10px;
	text-align: left;
}

.ngg-navigation > .current {
	text-align: center;
	font-weight: 600;
	color: #FFF;
	background-color: #00955f;
	width: 27px;
	display: inline-block;
	line-height: 27px;
	margin: 0px 13px 0px 0px;
	box-shadow: 
	1px 0px #00c67e, 1px 1px #007047,
	2px 1px #00c67e, 2px 2px #007047,
	3px 2px #00c67e, 3px 3px #007047;
}

.ngg-navigation a.page-numbers {
	text-align: center;
	font-weight: 600;
	color: #FFF;
	background-color: #e34530;
	width: 27px;
	display: inline-block;
	line-height: 27px;
	margin: 0px;
	margin-right: 13px;
	box-shadow: 
	1px 0px #ffa48b, 1px 1px #ae301b,
	2px 1px #ffa48b, 2px 2px #ae301b,
	3px 2px #ffa48b, 3px 3px #ae301b;
	border: none;
	padding: 0px;
}

.ngg-navigation a.next, .ngg-navigation a.prev {
	display: none;
}

.ngg-navigation a.page-numbers:hover {
	background-color: #e34530;
}

.ngg-gallery-thumbnail-box {
	margin-bottom: 10px;
}